[
    {
        "id": "c9ba72d6.9ef05",
        "type": "cron",
        "z": "cb332334.cf691",
        "name": "at 10 am",
        "crontab": "* * 10 * * *",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "bbdc33d7.cc6c2"
            ]
        ]
    },
    {
        "id": "38a211a6.ebeb9e",
        "type": "smart-plug",
        "z": "cb332334.cf691",
        "name": "aqua-light",
        "device": "aqua-light",
        "interval": 10000,
        "eventInterval": 1000,
        "x": 500,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "bbdc33d7.cc6c2",
        "type": "function",
        "z": "cb332334.cf691",
        "name": "turn on",
        "func": "msg.payload = true;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "38a211a6.ebeb9e"
            ]
        ]
    },
    {
        "id": "c050a4d5.2d51f8",
        "type": "cron",
        "z": "cb332334.cf691",
        "name": "at 6 pm",
        "crontab": "* * 18 * * *",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "bb2220b6.3934"
            ]
        ]
    },
    {
        "id": "2188df92.2c0aa",
        "type": "smart-plug",
        "z": "cb332334.cf691",
        "name": "aqua-light",
        "device": "aqua-light",
        "interval": 10000,
        "eventInterval": 1000,
        "x": 530,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bb2220b6.3934",
        "type": "function",
        "z": "cb332334.cf691",
        "name": "turn off",
        "func": "msg.payload = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "2188df92.2c0aa"
            ]
        ]
    }
]
